@font-face {
    font-family: 'Block-Berthold-Regular';
    src: url('/fonts/Block-Berthold-Regular.woff') format('woff'),
  }

@font-face {
    font-family: 'Block-Berthold-Extra-Condensed.woff';
    src: url('/fonts/Block-Berthold-Extra-Condensed.woff') format('woff'),
  }

@font-face {
    font-family: 'Margem-Medium';
    src: url('/fonts/Margem-Medium.woff') format('woff'),
  }