.s-hero{
    background-image: url(/img/Rectangle.png);
    background-size: cover;
    .container{
        display: flex;
        position: relative;
        .left{
            padding-top: 12rem;
            padding-bottom: 25rem;
            max-width: 52.6rem;
            .text{
                display: flex;
                gap: 3.6rem;
                img{
                    max-width: 288px;
                }
                h2{
                    color: #FAAF18;
                    font-size: 3.2rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-transform: uppercase;
                    margin-bottom: 2.2rem;
                }
            }
            img{
                max-width: 52.6rem;
                margin-bottom: 2.6rem;
            }

            .valor{
                display: flex;
                align-items: center;
                gap: 4.8rem;
                position: relative;
                .textTwo{
                    display: flex;
                    flex-direction: column;
                    .preco{
                        color: #FAAF18;
                        font-size: 7.5rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 3px;
                        text-transform: uppercase;
                    }
                    .content{
                        color: #59291C;
                        font-size: 1.3rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 2.3rem; /* 176.923% */
                        letter-spacing: -0.371px;
                        font-family: 'Margem-Medium';
                    }
                }
                button{
                    padding: 2.2rem 5.2rem;
                    background-color: #59291C;
                    color: white;
                    border-radius: .6rem;
                    font-size: 1.6rem;

                }
                img{
                    position: absolute;
                    max-width: 5.6rem;
                    left: 47.8rem;
                    top: 2.2rem;
                }
            }
        }
        .right{
            display: flex;
            align-items: center;
            .bg-right{
                position: absolute;
                right: 0;
                background-color: #FAAF18;
                max-width: 52.8rem;
                width: 100%;
                height: 66.3rem;
                border-radius: 0px 0px 12px 12px;
                .grelhado{
                    max-width: 8.8rem;
                    margin-left: 21rem;
                    margin-top: 9.5rem;
                }
                .promotion{
                    margin-top: 43rem;
                    display: flex;
                    gap: 1.4rem;
                    margin-left: 5.1rem;
                    .line{
                        max-width: 8rem;
                    }
                    .calendar{
                        max-width: 2rem;
                    }
                    span{
                        font-family: 'Margem-Medium';
                        color: #FFF;
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 2.3rem; /* 153.333% */
                        letter-spacing: -0.0429rem;
                    }
                }
            }
            .images{
                width: 68.4rem;
                height: 49.2rem;
                margin-left: 4.3rem;
                position: relative;
                bottom: 4rem;
                img{
                    
                }
                .whopper{
                    position: absolute;
                    bottom: -5rem;
                    width: 58.5rem;
                    left: 10.6rem;
                    z-index: 2;
                }
                .pepsi{
                    position: absolute;
                    bottom: -1rem;
                    left: 6rem;
                    width: 27rem;
                }
                .fritas{
                    position: absolute;
                    bottom: 0;
                    right: -7rem;
                    width: 26.4rem;
                }
                .logo-bk{
                    position: absolute;
                    bottom: -60px;
                    right: -70px;
                    width: 18rem;
                    z-index: 3;
                }
            }
        }
    }
}

.s-register{
    background-image: url(/img/bg-login.png);
    height: 20rem;
    .container{
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            display: flex;
            flex-direction: column;
            h3{
                color: #FFF;
                font-size: 3.2rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.0401rem;
            }
            h2{
                color: #59291C;
                font-size: 5.2rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.0652rem;
            }
        }
        .seta{
            max-width: 10rem;
        }
        button{
            height: 96px;
            width: 100%;
            max-width: 52.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1.2rem;

            color: #475993;
            font-family: 'Block-Berthold-Extra-Condensed.woff';
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.0301rem;
            img{
                margin-right: 2rem;
                max-width: 3.4rem;
            }
        }
    }
}

.s-itens{
    background-color: white;
    height: 85rem;
    .container{
        .itens{
            margin-top: 7rem;
            display: flex;
            gap: 1.6rem;
            
            button{
                width: 100%;
                max-width: 26.3rem;
                height: 14.4rem;
                border-radius: 1.2rem;
                background-color: #F5ECE7;
                transition: all 0.2s ease-in;
                &:hover{
                    transform: scale(102%);
                    box-shadow: 0px 10px 40px 0px #F5ECE7;
                }
            }
            .stars{
                display: flex;
                flex-direction: column;
                background-color: #FAAF18;
                align-items: center;
                justify-content: center;
                img{
                    max-width: 8.6rem;
                }
                span{
                    margin-top: .9rem;
                    color: #FFF;
                    text-align: center;
                    font-size: 2.4rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.0301rem;
                    text-transform: uppercase;
                }
                &:hover{
                    box-shadow: 0px 10px 40px 0px #FAAF18;
                }
                
            }
            .carne{
                background-color: #59291C;
                img{
                    max-width: 16.2909rem;
                    height: 6.4874rem;
                }
                &:hover{
                    box-shadow: 0px 10px 40px 0px #59291C;
                }
            }
            .frango{
                img{
                    width: 13.2993rem;
                    height: 5.639rem;
                }
            }
            .acompanha{
                img{
                    width: 16.0099rem;
                    height: 4.225rem;
                }
            }
            .sobremesa{
                img{
                    width: 15.1196rem;
                    height: 3.083rem;
                }
            }
        }
    }
}

footer{
    background-color: #59291C;
    height: 24rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        display: flex;
        align-items: center;
        .itens{
            display: flex;
            gap: 2.8rem;
            margin-right: 11.1rem;
        }
        .logo{
            margin-right: 12rem;
            img{
                width: 14rem;
                margin-top: 2rem;
            }
        }
        .redesSociais{
            display: flex;
            align-items: center;
            .icons{
                margin-left: 3.1rem;
                display: flex;
                
                .icon{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 6.4rem;
                height: 6.4rem;
                background-color: #5D2A1C;
                border-radius: 50%;
                margin-right: 2.4rem;
                img{
                    max-width: 2.8rem;
                }
                }
            }
        }
    }
}

.footerTwo{
    background-color: #5D2A1C;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    p{
        color: #979797;
        font-size: 1.4rem;
    }
}